*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #1b1b1b;
  color: #e4e4e4;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.webgl {
  width: 100%;
  height: 100%;
}
